.upload_flags
.pio
.vscode
.idea
*.log
*.elf
*.bin
build/
dist/
__pycache__/
*.o
*.a
.DS_Store
Thumbs.db
everything-claude-code/

PRD/
infinity-tag-frontend/.env

测试记录/

infinity-tag-backend/data/firmwares/

infinity-tag-backend/assets/custom_images/