# API 配置
VITE_API_BASE_URL=/api/v1

# 字体配置（可选）
VITE_FONT_CN_PATH=/fonts/
VITE_FONT_CN_FILE=NotoSerifSC-Regular.otf
VITE_FONT_CN_NAME=Noto Serif SC

VITE_FONT_EN_PATH=/fonts/
VITE_FONT_EN_FILE=JetBrainsMono-Regular.ttf
VITE_FONT_EN_NAME=JetBrains Mono
